<% foods.each do |food| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="panel-title"><%= link_to "#{food.name}: [Energy: #{food.energy} KCal/serve; Fat: #{food.fat} gm/serve; Protein: #{food.protein} gm/serve]", food_path(food) %>
      </div>
    </div>
    <div class="panel-footer">
      <p>
        <%= render 'shared/footer', item: food %>
      </p>
      <div id='food_<%= food.slug %>_votebox'>
        <% if logged_in? %>
          <span id='voteup'><%= link_based_on_current_users_vote_on_food(food, true) %></span>
          <span id='votedown'><%= link_based_on_current_users_vote_on_food(food, false) %></span>
        <% end %>
        <span id='votes'><%= "<strong>#{food.total_votes}</strong> <small>(#{pluralize(food.votes.size, "Vote")})</small>".html_safe %></span>
      </div>
    </div>
  </div>
<% end %>
