
<% meals.each do |meal| %>
  <div class='row'>
    <div class='span8 well'>
      <span class='badge'><%= meal.category %></span>
      <h4><%= link_to meal.name, meal_path(meal) %></h4>
      <p>Contents: <%= meal.foods.map {|food| "#{food.name} (#{Plate.find_by(meal: meal, food: food).servings})"}.join("; ") %>
      </p>
      <p>Description: <%= meal.description %></p>
      <p>
        <%= render 'shared/footer', item: meal %>
      </p>
      <%= render 'meals/voting', obj: meal %>
    </div>
  </div>
<% end %>

