<div class='well'>
  <%= render 'shared/errors', model_obj: @meal %>
  <%= form_for @meal, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <div class='form-group'>
      <%= f.label :name, 'Name', class: 'col-sm-2 control-label' %>
      <div class='col-sm-4'>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Lunch Outside/Family Brunch/Picnic/Jamie\'s recipe' %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :category, class: 'col-sm-2 control-label' %>
      <div class='col-sm-3'>
        <%= f.select :category, options_for_select(Meal::Categories, @meal.category), {}, class: 'form-control' %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :time, 'Date & Time', class: 'col-sm-2 control-label' %>
      <div class='col-sm-3'>
        <div class='input-group date' id='datetimepicker'>
          <%= f.datetime_field :time, value: get_meal_time(@meal, '%b %d, %Y (%I:%M %P)'), class: 'form-control', 'data-date-format'=> "ll (hh:mm a)" %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>
    <div id='foods'>
      <% if @meal.food_ids.empty? %>
        <%= render 'food_input' %>
      <% else %>
        <% show_remove = false %>
        <% @meal.food_ids.each do |food_id| %>
          <%= render 'food_input', selected_id: food_id, show_remove: show_remove %>
          <% show_remove = true %>
        <% end %>
      <% end %>
    </div>
    <div class='form-group'>
      <div class='col-sm-offset-2 col-sm-1'>
        <%= link_to '+ Food', 'javascript:;', {id: 'addNewFood', class: 'btn btn-sm btn-success form-control'}  %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :description, 'Notes', class: 'col-sm-2 control-label' %>
      <div class='col-sm-4'>
        <%= f.text_area :description, class: 'form-control', placeholder: 'Additional notes about the meal' %>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-offset-2 col-sm-3'>
        <%= f.submit @meal.new_record? ? "Add Meal" : "Change Meal", class: 'btn btn-primary'%>
      </div>
    </div>
  <% end %>
</div>
<div class="hide new_food_input">
  <%= render 'food_input', show_remove: true %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#datetimepicker').datetimepicker();

    $('#addNewFood').click(function(){
      $('div#foods').append($('div.new_food_input').html());
    });
  });
</script>
