<%= render 'shared/title_with_edit_links', args: {title: @meal.name, edit_path: edit_meal_path(@meal), show_path: meal_path(@meal)} %>

<p>
  <span class='badge'><%= @meal.category %></span>
</p>

<p><%= @meal.description %></p>
<hr/>

<p>
  <%= render 'shared/footer', item: @meal %>
</p>
<%= render 'voting', obj: @meal %>
<hr>
<p><%= link_to 'Back', meals_path %></p>

<% if logged_in? %>
  <%= render 'shared/errors', model_obj: @comment %>
  <%= form_for [@meal, @comment] do |f| %>
    <strong><%= f.label :body, "New Comment:" %></strong>
    <br/>
    <%= f.text_area :body, rows: 3, class: 'span4' %>
    <br/>
    <%= f.hidden_field :class_name, value: 'Meal'  %>
    <%= f.submit 'Add', class: 'btn btn-small btn-primary' %>
  <% end %>
<% end %>

<h4>Comments:</h4>
<%= render 'shared/comments', comments: @meal.comments %>
