  <div class='row'>
    <div class='span8 well'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to food.name, food_path(food) %></h3>
        </div>
        <div class='panel-body'>
          <p>Nutrition Information:</p>
          <table class="table">
            <tbody>
              <tr>
                <td>Energy</td>
                <td><%= food.energy %></td>
                <td>Kcal/serving</td>
              </tr>
              <tr>
                <td>Fat</td>
                <td><%= food.fat %></td>
                <td>grams/serving</td>
              </tr>
              <tr>
                <td>Protein</td>
                <td><%= food.protein %></td>
                <td>grams/serving</td>
              </tr>
              <tr>
                <td>Note</td>
                <td colspan='2'><%= food.notes %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p>
        <%= render 'shared/footer', item: food %>
      </p>
      <div id='food_<%= food.slug %>_votebox'>
        <% if logged_in? %>
          <span id='voteup'><%= link_based_on_current_users_vote_on_food(food, true) %></span>
          <span id='votedown'><%= link_based_on_current_users_vote_on_food(food, false) %></span>
        <% end %>
        <span id='votes'><%= "<strong>#{food.total_votes}</strong> <small>(#{pluralize(food.votes.size, "Vote")})</small>".html_safe %></span>
      </div>
    </div>
  </div>
