<%= render 'shared/title_with_edit_links', args: {title: @food.name, edit_path: edit_food_path(@food), show_path: food_path(@food)} %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <strong>Nutrition Information</strong>
    </div>
  </div>
  <div class='panel-body'>
    <table class="table">
      <tbody>
        <tr>
          <td>Energy</td>
          <td><%= @food.energy %></td>
          <td>Kcal/serving</td>
        </tr>
        <tr>
          <td>Fat</td>
          <td><%= @food.fat %></td>
          <td>grams/serving</td>
        </tr>
        <tr>
          <td>Protein</td>
          <td><%= @food.protein %></td>
          <td>grams/serving</td>
        </tr>
        <tr>
          <td>Note</td>
          <td colspan='2'><%= @food.notes %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <p>
      <%= render 'shared/footer', item: @food %>
    </p>
    <div id='food_<%= @food.slug %>_votebox'>
      <% if logged_in? %>
        <span id='voteup'><%= link_based_on_current_users_vote_on_food(@food, true) %></span>
        <span id='votedown'><%= link_based_on_current_users_vote_on_food(@food, false) %></span>
      <% end %>
      <span id='votes'><%= "<strong>#{@food.total_votes}</strong> <small>(#{pluralize(@food.votes.size, "Vote")})</small>".html_safe %></span>
    </div>
  </div>
</div>

<% if logged_in? %>
  <%= render 'shared/errors', model_obj: @comment %>
  <%= form_for [@food, @comment] do |f| %>
    <strong><%= f.label :body, "New Comment:" %></strong>
    <br/>
    <%= f.text_area :body, rows: 3, class: 'span4' %>
    <br/>
    <%= f.hidden_field :class_name, value: 'Food'  %>
    <%= f.submit 'Add', class: 'btn btn-small btn-primary' %>
  <% end %>
<% end %>

<h4>Comments:</h4>
<%= render 'shared/comments', comments: @food.comments %>
